<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>童老师ThinkPHP交流群：484519446</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="童老师ThinkPHP交流群：484519446"/>
    <meta name="description" content="童老师ThinkPHP交流群：484519446"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <link href="__PUBLIC__/style/lady.css" type="text/css" rel="stylesheet"/>
    <script type='text/javascript' src='__PUBLIC__/images/js/ismobile.js'></script>
</head>

<body>
{include file="common/head" /}
<!--顶部通栏-->


<div class="position"><span style="color: green; font-weight: bold;">标签：{$keywords}</span></div>
<div style="margin-left:135px;">
    <?php
        if(empty($same_tag_article->items())){
    echo '未查询到结果！';
    }
    ?>
</div>

<div class="overall">

    <div class="left">
        {volist name="same_tag_article" id="vo"}
        <div class="xnews2">
            <div class="pic"><a target="_blank" href="{:url('article/index', array('arid'=>$vo['id']))}"><img
                    src="{if condition=" $vo['pic'] neq ''"}
                {$vo['pic']}
                {else /}
                /static/index/images/error.png
                {/if}" alt=""/>
            </a>
            </div>
            <div class="dec">
                <h3><a target="_blank" href="{:url('article/index', array('arid'=>$vo['id']))}">{$vo.title}</a></h3>

                <div class="time">发布时间：{$vo['time']|date='Y-m-d',###}</div>
                <p>{$vo.desc}</p>

                <div class="time">
                    <?php
                        $arr = explode(',', $vo['keywords']);
                        foreach($arr as $k=>$v){
                    echo "<a href='".SITE_URL.'/index/article/searchtag/keywords/'.$v."'>".$v.'</a>';
                    }
                    ?>
                </div>
            </div>
        </div>
        {/volist}


        <div class="pages">
            <div class="plist">
                {$same_tag_article->render()}
            </div>
        </div>
    </div>

    {include file="common/right" /}

</div>
{include file="common/footer" /}

<div style="display:none;">
    <script src='goto/my-65537.js' language='javascript'></script>
    <script src="images/js/count_zixun.js" language="JavaScript"></script>
</div>

</body>
</html>